body {
  background-color: #fdc674;
}

.intro {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  width: 40%;

  text-align: center;
}

.game-intro {
  width: 40%;
  margin: 0 auto;
}

.game-intro__image {
  width: 100%;
}

.answers {
  display: grid;
  gap: 0.2rem;
  grid-template-columns: repeat(2, 1fr);
  padding: 1rem 0;

  .answer {
    width: 100%;
    padding: 0.5rem;
    background-color: #fff;
    
  }
}

.btn {
  background-color: #4caf50; /* Green */
  border: none;
  color: white;
  padding: 10rem;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1rem;
  margin: 0.25rem 0.125rem;
  cursor: pointer;
}

.btn-blue {
  background-color: #008cba; /* Blue */
}

.btn-orange {
  background-color: #ff9800;
}

.btn-yellow {
  background-color: rgb(230, 230, 20);
}

.hidden {
  display: none;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  border-bottom: 0.2rem solid #1e1e1e;
}

.header__nav-list {
  display: flex;
  list-style: none;
  gap: 2rem;
  margin: 0;
  padding: 0;
  align-items: center;
}

.header__nav-link {
  text-decoration: none;
  color: #333;
  font-size: 1.2rem;
}

.header__nav-link.active {
  font-weight: bold;
  color: #007bff;
}

.intro__container-buttons {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.intro__container-buttons__btn {
  background-color: #007bff;
  border: none;
  color: #ffffff;
  padding: 1rem 2rem;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1rem;
  margin: 0.25rem 0.125rem;
  cursor: pointer;
}

.intro__image {
  max-width: 20rem;
}

.footer {
  border-top: 0.2rem solid #1e1e1e;
}

.footer__text {
  display: flex;
  justify-content: center;
  align-items: center;
}

.code-container {
  position: relative;
  background-color: #2d2d2d;
  color: #f8f8f2;
  border-radius: 0.5rem;
  padding: 1rem;
  margin-bottom: 1rem;
  overflow: auto;
}

.copy-btn {
  position: absolute;
  top: 0.6rem;
  right: 0.6rem;
  background-color: #61dafb;
  border: none;
  color: #000;
  padding: 0.4rem 0.7rem;
  border-radius: 0.3rem;
  cursor: pointer;
  font-weight: bold;
  transition: background-color 0.3s;
}

.copy-btn:hover {
  background-color: #21a1f1;
}

pre {
  margin: 0;
}
