.hidden {
  display: none;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  border-bottom: .2rem solid #1e1e1e;
}

.header__nav-list {
  display: flex;
  list-style: none;
  gap: 2rem;
  margin: 0;
  padding: 0;
  align-items: center;
}

.header__nav-link {
  text-decoration: none;
  color: #333;
  font-size: 1.2rem;
}

.header__nav-link.active {
    font-weight: bold;
    color: #007BFF;
}
